body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px
}

h1 {
    font-size: 32px;
    color:red;
}

.jsharkkatyyli {
    display: none;
}

.esimerkki-box {
    border: 2px solid#000;
    padding: 10px;
}
#guid2 {
    display:block;
    background-color: aqua;
    padding: 10px;
    border: 1px solid #ddd;
}
h3 {
    color: blue;
}

p.esimerkki {
    color: blue;
}



  p.esimerkki b  {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

  p.esimerkki i {
    font-style: italic;
    font-weight:bold
}

 p.esimerkki u {
    display: inline
    text-decoration: underline;
    font-weight: bold;
}


h3 p {
    margin-left: 20px;
    background-color: #f0f0f0;
}

h2 {

}
 table.taulukko  {
    border-collapse: collapse;
    width: 50%;
}

 table#taulukko1 td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;

    p {
        font-size: 24px;
        color: red;
    }



    

    




     

}